certifi==2024.8.30
charset-normalizer==3.4.0
idna==3.10
isodate==0.7.2
Jinja2==3.1.4
MarkupSafe==3.0.2
mpegdash==0.4.0
oauthlib==3.2.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
ratelimit==2.2.1
requests==2.32.3
requests-oauthlib==2.0.0
six==1.16.0
tidalapi==0.8.9
typing_extensions==4.12.2
urllib3==2.2.3
